{{> page-start}}

<h1>{{{demo.title}}}</h1>

<p>
    <a href="sassdoc">SassDoc Documentation</a>
</p>

<p>
    <strong>Handlebars helper:</strong>
    {{#repeat 5 start=1}}{{@index}} {{/repeat}}
</p>

{{#each demo.sections}}
    <section class="{{this}}">
        <h2>{{this}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </section>
{{/each}}

<img src="assets/images/image.png" alt="Optimized Image Sample">

{{> page-end}}
